:root {
    --bg: #282c34;
    --header: #fff;
    --link: #61dafb;
    --text: hsla(0, 0%, 100%, 0.88);
  }
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    box-shadow: 6px 6px 6px 6px rgb(255, 0, 0);
    z-index: 1000;
    width: 500px;
    height: 500px;
  }
  .popup-content {
    text-align: center;
    font-size: 22px;
    font-family: 'papyrus';
  }
  
  :root {
    --bg: #282c34;
    --header: #fff;
    --link: #61dafb;
    --text: hsla(0, 0%, 100%, 0.88);
  }
  
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    box-shadow: 6px 6px 6px 6px rgb(255, 0, 0);
    z-index: 1000;
    width: 1200px;
    height: 850px;
  }
  
  .popup-content {
    text-align: center;
    font-size: 22px;
    font-family: 'papyrus';
  }
  
  header img {
    height: 80px;
  }
  body {
    height: 300vh;
    background-image: url('https://img.freepik.com/premium-photo/cyberpunk-gaming-controller-gamepad-joystick-illustration_691560-5812.jpg');
    background-size: cover;
    font-family: sans-serif;
    padding: 30px;
  }
.siteTitle {
  color: #000000;
  text-shadow: 1px 1px lime;
  text-align: center;
}
.navBar {
  display: none; /* Initially hide the navbar */
  justify-content: center;
  border: transparent;
  background-color:rgba(132, 61, 153, 0.342);
  padding: 15px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  /* transition: height 5s ease-in-out;  */
  height: 0;
  overflow: hidden;
}
.navBar.open {
  height: 100px; /* Set the desired height when open */
  display: flex;
}
.toggleButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
}
.navBar.hidden {
  display: none; /* Hide it when closed */
}

  .navBar a {
    float: left;
    color: #000000;
    text-align: auto;
    padding: 30px 16px;
    text-decoration: none;
    font-size: 30px;
    display: block;
  }
  
  
  .navBar a:hover {
    background-color: rgba(42, 18, 148, 0.2);
    color: rgb(30, 255, 0);
  }
  
  .navBar a.active {
    background-color: rgba(42, 18, 148, 0.5);
    color: black;
  }

  .edit_game {
    margin-right: 3%;
    color: lime;
    background-color: rgba(42, 18, 148, 0.5);
    border: none;
  }
  .delete_game {
    margin-right: 3%;
    color: lime;
    background-color: rgba(42, 18, 148, 0.5);
    border: none;
  }
  /* Styling the main content area / */
  .body {
    padding: 20px;
  }
  
  /* / Creating a grid layout for the gallery / */
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    overflow: none;
    max-height: 90vh;
    padding: 10px;
    text-align: center;
  }
  /* /this makes the columns/ */
.game-card {
  position: relative;
  width: 240px; 
  height: 276.8px; 
  
}

.game-img {
  width: 250px;
  height:250px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.game-title {
  padding-top: 40px;
}
  .game-card {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    border: transparent;
    background-color:rgba(132, 61, 153, 0.342);
    margin: auto;
    padding: 15px 10px;
    min-height: 625px;
    font-weight: bold;
    font-style: italic;
    color: #000000;  
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
  /* / Styling individual artwork details / */
  .game-card:hover {
    transform:scale(1.2);
    color:black;
    text-shadow:1px 1px lime;
    box-shadow:0 0 15px white;
  } 
.genre-container {
  text-align: center;
  color: lime;
}
.formContainer {
  text-align: center;
}
  .console-img-line{
    display:flex;
    justify-content: space-evenly;
  }
  .console-imgs{
    width: 50px;
    height: 50px;
  }

